// COLORS

$blue1 : #123962;
$blue2 : #2754ba;
$blue3 : #00aee6;
$blue4 : #799eb2;
$blue5 : #b1d4e5;
$white : #F9F7FA;
$grey1 : #EFEBE8;
$grey2 : #D2D8D9;
$black : #111111;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#mapid { height: 180px; }